apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
- resources/namespace.yaml
- https://raw.githubusercontent.com/argoproj/argo-cd/v2.6.8/manifests/ha/install.yaml
patches:
- path: patches/argocd-cm.yaml
- path: patches/argocd-server-deployment.yaml
- path: patches/argocd-repo-server-deployment.yaml
- path: patches/argocd-application-controller-statefulset.yaml
- path: patches/argocd-rbac-cm.yaml
- path: patches/metrics/argocd-metrics.yaml
- path: patches/metrics/argocd-server-metrics.yaml
- path: patches/metrics/argocd-repo-server-metrics.yaml
- path: patches/metrics/argocd-appset-controller-metrics.yaml
